---
title: Flexible Floors
---

<div class="main-nav">
  <a href="../">Mitch Malone</a>
</div>
<div class="main-header">
  <div class="container">
    <h2>Flexible Floors</h2>
    <h3>Giving publishers tools to optimize their revenue from the Sharethrough Exchange.</h3>

    <p>
      With a change in our business model, we saw an opportunity to help publishers control their financial destiny.
    </p>
    <a href="./">&larr; Back</a>
  </div>
</div>
<div class="main-content">
  <div class="container">
    <h3>Context</h3>
    <p>
      <%= lorem.sentences 5 %>
    </p>
    <p>
      <%= lorem.sentences 5 %>
    </p>
    <h3>Sketching</h3>
    <img src="<%= lorem.image('672x400', :background_color => 'edeff2') %>" />
    <p>
      <%= lorem.sentences 5 %>
    </p>
    <img src="<%= lorem.image('672x400', :background_color => 'edeff2') %>" />
    <p>
      <%= lorem.sentences 5 %>
    </p>
    <h3>Prototyping</h3>
    <p>
      <%= lorem.sentences 5 %>
    </p>
    <h3>Results</h3>
    <p>
      <%= lorem.sentences 5 %>
    </p>
  </div>
</div>
